*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: white;
    margin: auto;
    padding-left: 50px;
}

#app{
    font-size: 50px;
    font-family: 'roboto', sans-serif;    
    vertical-align: super;    
}

body{
    height: 1000px;
    background-color: rgb(230, 230, 247);
}

.task-container{
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    padding-left: 50px;
    width: 1100px;
    background-color: white;
    border-radius: 5px;
}

.list-container{    
    width: 1100px;
    background-color: white;
    margin: auto;
    margin-top: 2px;
    padding: 50px;
    padding-left: 80px;
    border-radius: 5px;
}

#button1, #button2{
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    width: 10%;
    height: 35px;
    text-align: center;
    vertical-align: middle;   
}

#button1{
    background-color:#52a4e3;   
}

#button2{
    border: 1px solid gray
}

#add-task{
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: white;  
}

#add-section{
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: gray;  
}

ul{
   font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}

ul h1{
    margin-top: 60px;
}

li{
    list-style:none;
    margin-top: 20px;
}

#editorial{
    font-size: 15px;
    color: white;  
    background-color:#52a4e3;
    border-radius: 5px; 
}

#q1{
    font-size: 15px;
    color: white;  
    background-color:#a76ec2;
    border-radius: 5px; 
}

#recruiting{
    font-size: 15px;
    color: white;  
    background-color:#58ad7c;
    border-radius: 5px; 
}

#mobile{
    font-size: 15px;
    color: white;  
    background-color:#d99032;
    border-radius: 5px; 
}

#web{
    font-size: 15px;
    color: white;  
    background-color:#c45c89;
    border-radius: 5px; 
}

#sale{
    font-size: 15px;
    color: white;  
    background-color:#acbf56;
    border-radius: 5px; 
}

.check {
    color: limegreen;
    text-align: center;
    line-height: 20px;
    width: 150px; 
    height: 100px;
    padding: 3px;
    border: 1px solid limegreen;
    background: transparent;
    border-radius: 50%;
  }

.cross {
    color: red;
    text-align: center;
    line-height: 20px;
    width: 150px; 
    height: 100px;
    padding: 3px;
    border: 1px solid red;
    background: transparent;
    border-radius: 50%;
  }